# Project exclude paths
/target/
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Cache/0fd103a15362680c_0
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Cache/1e3ba8efdea9d208_0
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Cache/3b3a201f4321b667_0
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Code Cache/js/3e72519c154e92bd_0
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/data_reduction_proxy_leveldb/000003.log
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Extension State/000003.log
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Local Storage/leveldb/000003.log
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Session Storage/000003.log
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/shared_proto_db/metadata/000003.log
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/shared_proto_db/000003.log
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Site Characteristics Database/000003.log
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Sync Data/LevelDB/000003.log
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Cache/4afcd0e69be7746e_0
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Cache/4cd6b3ee660f9371_0
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Code Cache/js/4f764263d20de709_0
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Cache/5a58bbf6da46c354_0
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Code Cache/js/6b1df2e915ff427e_0
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Cache/8a113fca7e3aa612_0
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Cache/8af704c7c57b1c76_0
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Code Cache/js/8de61c1363f390fb_0
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Cache/9e5805f85db8f45b_0
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Code Cache/js/25f937aa09527266_0
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Cache/29f15ec242b87476_0
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Cache/42d5f37c46d2fca8_0
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Code Cache/js/49ef67b51c26f761_0
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Cache/64d2de2a1384adcd_0
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Code Cache/js/74c2b69a8879126c_0
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Cache/74f70789ba73a803_0
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Code Cache/js/84c05b212d7210f3_0
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Cache/89edece0c5100471_0
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Cache/98d8f87a2fe8cda1_0
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Code Cache/js/387af75529c33cdc_0
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Cache/796b7019b9c6fe71_0
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Cache/0944ba9324477535_0
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Cache/1391c8c6481c84ec_0
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Code Cache/js/1917ab12b3d41c89_0
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Cache/5822caecdaa0dbcb_0
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Cache/65955a7f7b7d7875_0
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Code Cache/js/83126b4a36fa0d7e_0
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Cache/92420d04bcbda970_0
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Cache/a1cb20eabe5ed04a_0
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Cache/a5cd94e78706efff_0
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Cache/a6c287d88d210269_0
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Code Cache/js/a4281bbde813bfe0_0
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Code Cache/js/a8995a90f0823528_0
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Cache/a7501929019fe365_0
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Cache/ad8e3484519865ef_0
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Cache/b8ce972844c22fc0_0
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Cache/c1f855be028fe59c_0
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Cache/c18df410596edf59_0
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Code Cache/js/ca68cd05bd288cf9_0
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Cache/ce79d5ee05dd2de2_0
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/chrome_debug.log
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/chrome_shutdown_ms.txt
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Cookies
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Cookies-journal
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/data_reduction_proxy_leveldb/CURRENT
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Extension State/CURRENT
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Local Storage/leveldb/CURRENT
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Session Storage/CURRENT
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/shared_proto_db/metadata/CURRENT
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/shared_proto_db/CURRENT
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Site Characteristics Database/CURRENT
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Sync Data/LevelDB/CURRENT
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Cache/d1bd0e5403251dfa_0
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Code Cache/js/d1e4b1fbfd752640_0
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Cache/d6ad08b1523f2127_0
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Cache/d9b029c2c18e76e2_0
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Cache/d9b029c2c18e76e2_s
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Cache/d9ff35b1f170182b_0
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Code Cache/js/d7659d39975e3de2_0
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Cache/d8611f451c006f59_0
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Cache/dae3bf05ec092d8a_0
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/GPUCache/data_0
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/GrShaderCache/GPUCache/data_0
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/ShaderCache/GPUCache/data_0
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/GPUCache/data_1
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/GrShaderCache/GPUCache/data_1
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/ShaderCache/GPUCache/data_1
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/GPUCache/data_2
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/GrShaderCache/GPUCache/data_2
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/ShaderCache/GPUCache/data_2
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/GPUCache/data_3
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/GrShaderCache/GPUCache/data_3
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/ShaderCache/GPUCache/data_3
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Cache/de581f323f183a5c_0
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Cache/dea41f6e0dacce79_0
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/DevToolsActivePort
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Cache/e3db8034c35ac99f_0
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Cache/e55dbedfacfe2cd9_0
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Cache/e621ccad57abf37c_0
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Cache/ee7befb72387d336_0
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Cache/f9b354f94bbf6141_0
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Code Cache/js/f782be823d0a779a_0
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Cache/f3104a42f669e112_0
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Cache/f9556e0351ad51a5_0
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Cache/fa362a0c1c041be9_0
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Cache/fad5048ae2d7d585_0
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Favicons
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Favicons-journal
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/First Run
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/heavy_ad_intervention_opt_out.db
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/heavy_ad_intervention_opt_out.db-journal
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/History
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/History Provider Cache
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/History-journal
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Cache/index
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Code Cache/js/index
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Code Cache/wasm/index
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/GPUCache/index
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/GrShaderCache/GPUCache/index
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/ShaderCache/GPUCache/index
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Last Version
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Local State
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/AutofillStrikeDatabase/LOCK
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/BudgetDatabase/LOCK
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/data_reduction_proxy_leveldb/LOCK
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Download Service/EntryDB/LOCK
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Extension State/LOCK
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Feature Engagement Tracker/AvailabilityDB/LOCK
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Feature Engagement Tracker/EventDB/LOCK
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Local Storage/leveldb/LOCK
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/optimization_guide_hint_cache_store/LOCK
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/optimization_guide_model_and_features_store/LOCK
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Session Storage/LOCK
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/shared_proto_db/metadata/LOCK
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/shared_proto_db/LOCK
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Site Characteristics Database/LOCK
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Sync Data/LevelDB/LOCK
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/LOCK
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/AutofillStrikeDatabase/LOG
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/BudgetDatabase/LOG
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/data_reduction_proxy_leveldb/LOG
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Download Service/EntryDB/LOG
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Extension State/LOG
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Feature Engagement Tracker/AvailabilityDB/LOG
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Feature Engagement Tracker/EventDB/LOG
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Local Storage/leveldb/LOG
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/optimization_guide_hint_cache_store/LOG
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/optimization_guide_model_and_features_store/LOG
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Session Storage/LOG
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/shared_proto_db/metadata/LOG
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/shared_proto_db/LOG
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Site Characteristics Database/LOG
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Sync Data/LevelDB/LOG
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/LOG
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Login Data
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Login Data For Account
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Login Data For Account-journal
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Login Data-journal
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Extension State/MANIFEST-000001
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Local Storage/leveldb/MANIFEST-000001
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Session Storage/MANIFEST-000001
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/shared_proto_db/metadata/MANIFEST-000001
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/shared_proto_db/MANIFEST-000001
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Site Characteristics Database/MANIFEST-000001
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Sync Data/LevelDB/MANIFEST-000001
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/data_reduction_proxy_leveldb/MANIFEST-000002
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Network Action Predictor
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Network Action Predictor-journal
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Network Persistent State
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Preferences
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/PreferredApps
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Reporting and NEL
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Reporting and NEL-journal
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Secure Preferences
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Sessions/Session_13286984255992151
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Shortcuts
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Shortcuts-journal
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Sessions/Tabs_13286984263406331
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Cache/index-dir/the-real-index
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Code Cache/js/index-dir/the-real-index
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Code Cache/wasm/index-dir/the-real-index
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Top Sites
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Top Sites-journal
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/TransportSecurity
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Visited Links
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Web Data
/C:/Users/kostyamono/Library/Application Support/Google/Chrome/Profile 5/Default/Web Data-journal
